body{
    display: flex;
    background-color: black;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
body *{
    margin-bottom: 2%;
}
div{
    display: flex;
    width: 20%;
    height: 20%;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
}
button{
    width: 30%;
    font-size: 45px;
}